.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
}

.pagination__item {
    margin: 0 5px;
    cursor: pointer !important; 
}

.pagination__link {
    cursor: pointer !important;
    text-decoration: none;
    color: #442445;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 14px;
    border-radius: 5%;
    border: 2px solid #442445;
    transition: background-color 0.3s ease;
}

.pagination__link:hover {
    background-color:#442445 ;
    color: #fff;
    cursor: pointer !important; 
}

.pagination__link--active {
    background-color: #442445;
    color: #fff;
    padding: 0px 5px;
    cursor: pointer !important; 
}
